{% extends 'paginas/base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{{ form|as_crispy_errors }}

{% block titulo %}
<title>Cadastro Compras ::SuperMercado::</title>
{% endblock %}

{% block conteudo %}
<div class="formu">
    <div class="titulo-formu">
        <h1>Cadastro</h1>
        <hr>
    </div>
    <div class="div-formu">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}" class="label"> {{ field.html_name }} </label>
                {{ field }}
            {% endfor %}
            <div class="btn-form"><button type="submit">Enviar</button></div>
        </form> 
    </div>   
</div>

{% endblock %}
