{% extends 'paginas/base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{{ form|as_crispy_errors }}

{% block titulo %}
<title>Cadastro Produto ::SuperMercado::</title>
{% endblock %}

{% block conteudo %}
<div class="formu">
    <div class="titulo-formu">
        <h1>Cadastro</h1>
        <hr>
    </div>
    <div class="div-formu">
        <form action="" method="POST">
            {% csrf_token %} <!--Validação de formulário do Django-->
                <ul>{{ form.non_field_errors }} </ul>
                <label for="id_Nome"> Nome: </label>
                <input type="text" name="Nome" maxlength="50" required id="id_Nome">
            <div class="btn-form"><button type="submit">Enviar</button></div>
        </form> 
    </div>   
</div>

{% endblock %}