{% extends 'paginas/base.html' %}

{% load static %}


{% block titulo %}
<title>Deletar {{ object }} ::SuperMercado::</title>
{% endblock %}

{% block conteudo %}
<div class="conteudo">
    <link rel ="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <div class="container-xl">
        <h3>Exclusão</h3>
        <p>Confirme se irá realizar esta operação</p>
        <hr>
        <form action="" method="POST">
        
            <p>
                Deseja excluir o registro: <strong>{{ object }}</strong>? <!--Object irá retornar o valor da função def__str__ do models.py-->
            </p>
        
            {% csrf_token %} <!--Validação de formulário do Django-->
        
            {{form.as_p}} <!--Tradução: Formulário em Paragrafo-->
        
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
        
    </div>
</div>
{% endblock %}