{% extends 'paginas/base.html' %}

{% load static %}


{% block titulo %}
<title>Compras ::SuperMercado::</title>
{% endblock %}

{% block conteudo %}
<div class="conteudo">
    <link rel ="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<div class="container-xl" id="container-lista">
    <div class="table table-responsive">
        <h2>Lista de Compras:</h2>
        <hr>
        <table class="table table-striped" id="tabela">
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Preço Médio</th>
                <th>Opções</th>
            </tr>
            {% for Compra in object_list %} <!--Estrutura de repetição no django, bastante semelhante que em pyhon-->
            <tr>
                <td>
                    {{ Compra.produto }}
                </td>
                <td>
                    R$ {{ Compra.Valor }}
                </td>
                <td>
                    {{ Compra.Quantidade }} Unidades
                </td>
                <td>
                    R$ {{ Compra.PrecoMedio }}
                </td>
                <td>
                    <a href="{% url 'Editar Compra' Compra.pk %}" class="btn btn-warning btn-sm">Editar</a> <!--url é a forma de fazer o link-->
                    <a href="{% url 'Excluir Compra' Compra.pk %}" class="btn btn-danger btn-sm">Excluir</a> <!--url é a forma de fazer o link-->
                </td>
            </tr>
            {% empty %}<!--O default será o que tiver dentro da tag empty-->
            <tr>
                <td>Nenhum campo registrado.</td>
            </tr>
            {% endfor %}<!--Fechando a repetição-->
        </table>
    </div>
</div>
</div>
{% endblock %}