{% extends 'paginas/base.html' %}

{% load static %}

{% block titulo %}
<title>Produtos ::SuperMercado::</title>
{% endblock %}

{% block conteudo %}
<div class="conteudo">
    <link rel ="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<div class="container-xl" id="container-lista">
    <div class="table table-responsive">
        <h2>Lista de Produtos:</h2>
        <hr>
        <table class="table table-striped" id="tabela">
            <tr>
                <th>Nome</th>
                <th>Quantidade no Estoque</th>
                <th>Preço Médio Total</th>
                <th>Opções</th>
            </tr>
            {% for Produto in object_list %} <!--Estrutura de repetição no django, bastante semelhante que em pyhon-->
            <tr>
                <td>
                    {{ Produto.Nome }}
                </td>
                <td>
                    {{ Produto.quantidadeTotal }} Unidades
                </td>
                <td>
                    R$ {{ Produto.precoMedioTotal }}
                </td>
                <td>
                    <a href="{% url 'Cadastro Compra' %}" class="btn btn-warning btn-sm">Comprar</a> <!--url é a forma de fazer o link-->
                    <a href="{% url 'Excluir Produto' Produto.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% empty %}<!--O default será o que tiver dentro da tag empty-->
            <tr>
                <td>Nenhum campo registrado.</td>
            </tr>
            {% endfor %}<!--Fechando a repetição-->
        </table>
    </div>
</div>
</div>
{% endblock %}