@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --cinza: #EDEEF7;
    --verde1: #D5EEBB;
    --verde2: #7FC8A9;
    --verde3: #5F7A61;
    --verde4: #444941;
  }
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
body{
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--verde1);
}


/**---------------------------------------- MENU DE NAVEGACAO ----------------------------------------**/
header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--verde3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.navbar .logo-box{
    width: 10%;
    margin-left: 20px;
}
.menu{
    margin-right: 20px;
}
.menu .lists{
    float: right;
    list-style: none;
    position: relative;
}
.menu .lists li{
    display: inline-block;
    background-color: var(--verde3);
    margin: 0 5px;
}
.menu .lists li .menu-principal{
    text-decoration: none;
    line-height: 70px;
    margin: 0px 10px;
    padding:8px;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 1rem;
}
.menu .lists li .menu-principal:hover{
    background-color: var(--verde2);
}
.menu .lists ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s;
}
.menu .lists li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.menu .lists ul .menu-secundario{
    position: relative;
    margin: 0px;
    width: 200px;
    height: 40px;
    float: none;
    display: list-item;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.menu .lists ul .menu-secundario:hover{
    background-color: var(--verde2);
    border-radius: none;
}
.menu .lists ul .menu-secundario a{
    color: white;
    display: flex;
    justify-content: center;
}
.checkbtn > .fa-bars{
    display: none;
}
/**---------------------------------------- FIM MENU DE NAVEGACAO ----------------------------------------**/

/**---------------------------------------- MEDIA QUERYS ----------------------------------------**/

@media only screen and (max-width:952px){  
    .checkbtn > .fa-bars{
        display: block;
        position:absolute;
        right: 30px;
        top: 20px;
        font-size: 25px;
        color: black;
        transition: 0.5s;
        cursor: pointer;
    }
    .checkbtn > .fa-bars:hover{
        color:white;
    }
    .menu .logo-box{
        margin-left: 30px;
    }
    .menu .list-container{
        position: absolute;
        top:75px;
        left: -100%;
        background: var(--verde2);
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu .lists{
        width: 100%;
        height: 80%;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .menu .lists li{
        width: 90%;
        background: var(--verde2);
        border-bottom: 2px solid white;
        display: flex;
        justify-content: center;
        z-index: 1;
    }
    .menu .lists .submenu{
        z-index: 0;
    }
    .menu .lists li a{
        font-size: 1rem;
    }
    .menu .lists ul{
        height: 10%;
        display: flex;
    }
    .menu .lists ul li{
        border-right: 1px solid white;
    }
  }