@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



/**---------------------------------------- PÁGINA INICIAL ----------------------------------------**/

:root{
  --cinza: #EDEEF7;
  --verde1: #D5EEBB;
  --verde2: #7FC8A9;
  --verde3: #5F7A61;
  --verde4: #444941;
  --verde5: #ACCC90;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

html{
  scroll-behavior: smooth;
}
body{
    line-height: 1.5;
	  font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: var(--verde1);
}
.conteudo{
  min-height: 100vh;
}
#tabela{
  margin-top: 50px;
}
#container-lista{
  margin-top: 150px;
}
/**---------------------------------------- MENU DE NAVEGACAO ----------------------------------------**/
header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--verde3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.img-logo{
  width: 220px;
  margin-left: 30px;
  margin-top: 5px;
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container ul{
    display: flex;
}
.menu .list-container ul li{
    list-style: none;
}
.menu .list-container ul li a{
    text-decoration: none;
    margin: 0px 10px;
    padding:8px;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 1rem;
}
.menu .list-container ul li a.active{
    background: var(--verde2);
    color: white;
}
.menu .list-container ul li a:hover{
    background: var(--verde2);
    color:white;
}

.checkbtn > .fa-bars{
    display: none;
}

/**---------------------------------------- FIM MENU DE NAVEGACAO ----------------------------------------**/

/**---------------------------------------- IMAGEM CHAMATIVA ----------------------------------------**/

.img-header{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../img/chamativo3.jpg);
  background-attachment: fixed; /** Cria o efeito que a pagina esta fixa e o web que se move **/
  background-position: center;
  background-size: cover;
}
.img-header .welcome{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /** Dando um efeito legal para imagem chamativa, sendo o ultimo valor para opacidade **/
  
  /** Operacao para centrar o conteudo **/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-header .welcome h1{
  font-size: 3rem;
  color: white;
  font-weight: 180;
}
.img-header .welcome hr{
  width: 350px;
  height: 2px;
  background-color: white;
  border: none;
  margin-top: 5px;
}
.img-header .welcome p{
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
}
.img-header .welcome > button{
  width: 200px;
  height: 50px;
  background-color: var(--verde3);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;

}
.img-header .welcome > button:hover{
  background-color: var(--verde2);
}
/**---------------------------------------- FIM IMAGEM CHAMATIVA ----------------------------------------**/

/**---------------------------------------- SOBRE NOS ----------------------------------------**/

.sobrenos{
  width: 100%;
  background-color: var(--cinza);
}
.sobrenos .info-sobrenos{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.sobrenos .info-sobrenos h1{
  font-size: 3rem;
  margin-top: 120px;
  font-weight: 350;
  color: black;
  text-align: center;
}
.sobrenos .info-sobrenos p{
  text-align: center;
  font-size: 1rem;
  line-height: 40px;
  margin: 10px auto;

}
.sobrenos .info-sobrenos .img-sobrenos{
  width: 100%;
  display: flex;
  justify-content: center; /** Deixando enfileirado **/
  margin: 50px auto;
}
.sobrenos .info-sobrenos .img-sobrenos img{
  width: calc(33.333% - 5px);
  height: 300;
  object-fit: cover;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.sobrenos .info-sobrenos .btn-sobrenos{
  width: 150px;
  height: 40px;
  background-color: var(--verde3);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom:120px;;
}
.sobrenos .info-sobrenos .btn-sobrenos:hover{
  background-color: var(--verde2);
}
#sobrenosancora:target{
  scroll-margin-top: .14em;
}
/**---------------------------------------- FIM SOBRE NOS ----------------------------------------**/

/**---------------------------------------- NOVOS PRODUTOS ----------------------------------------**/

.nossos-produtos{
  width: 100%;
  margin-bottom: 80px;
}
.nossos-produtos .titulo-produtos{
  width: 50%;
  margin: auto;
  text-align: center;
}
.nossos-produtos .titulo-produtos h2{
  font-size: 3rem;
  color: black;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 10px;
}
.nossos-produtos .titulo-produtos hr{
  width: 70%;
  margin: auto;
  height: 5px;
  color: black;
  border: none;
}
.nossos-produtos .div-produtos{
  width: 90%;
  margin: 80px auto 0px;
  /** Fazer os produtos ficarem em colunas que ao "quebrar" o html irá se ajeitar tornando a página mais responsiva **/
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.nossos-produtos .div-produtos .box-produtos{
  background-color: var(--verde5);
  border: 2px solid var(--verde5);
  border-radius: 16px;
  width: 45%;
  margin: 25px;
  transition: 0.4s;
  cursor: pointer;
}
.nossos-produtos .div-produtos .box-produtos .img-produtos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nossos-produtos .div-produtos .box-produtos .img-produtos img{
  width: 420px;
  height: 300px;
  border-radius: 10%;
  object-fit: cover;
  cursor: pointer;
  margin-top: 20px;
  border: 2px solid var(--verde2);
  transition: 0.4s;
}
.nossos-produtos .div-produtos .box-produtos .texto-produtos{
  width: 100%;
  padding: 30px;
}
.nossos-produtos .div-produtos .box-produtos .texto-produtos h4{
  color: var(--verde3);
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  transition: 0.4s;
}
.nossos-produtos .div-produtos .box-produtos .texto-produtos p{
  font-size: 1.5rem;
  text-align: center;
}
.nossos-produtos .div-produtos .box-produtos .texto-produtos .div-btn-prod{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nossos-produtos .div-produtos .box-produtos .texto-produtos .btn-novosprodutos{
  width: 150px;
  height: 40px;
  background-color: var(--verde3);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 120px;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom:20px;;
}
.nossos-produtos .div-produtos .box-produtos .texto-produtos .btn-novosprodutos:hover{
  background-color: var(--verde2);
}
.nossos-produtos .div-produtos .box-produtos:hover{
  border: 2px solid var(--verde3);
}
.nossos-produtos .div-produtos .box-produtos:hover img{
  border: 5px solid var(--verde3);
}
#produtosancora:target{
  scroll-margin-top: .8em;
}
/**---------------------------------------- FIM NOSSOS PRODUTOS ----------------------------------------**/

/**---------------------------------------- FOOTER ----------------------------------------**/
.footer{
  width: 100%;
  height: 10vh;
  background-color: var(--verde4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .text-footer{
  font-size: 1rem;
  color: white;
}
/**---------------------------------------- FIM FOOTER ----------------------------------------**/

/**---------------------------------------- FIM PÁGINA INICIAL ----------------------------------------**/

/**---------------------------------------- PÁGINA FORMULÁRIO ----------------------------------------**/
.formu{
  width: 100%;
  min-height: 100vh;
  margin-top: 50px;
  background-color: var(--verde1);
}
.formu .titulo-formu{
  width: 50%;
  padding-top: 100px;
  margin: auto auto 0px auto;
}
.formu .titulo-formu h1{
  text-align: center;
  color: var(--verde3);
  font-size: 3rem;
  font-weight: normal;
}
.formu .titulo-formu hr{
  width: 60%;
  margin: auto;
  border: 1px solid var(--verde3)
}
.formu .div-formu{
  width: 45%;
  min-height: 500px;
  border-radius: 16px;
  margin: 10px auto 50px;
  background-color: var(--verde5);
  
}
.formu .div-formu .errorlist li{
  text-align: center;
  font-size: 20px;
  color: red;

}
.formu .div-formu form{
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.formu .div-formu form label{
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--verde3);
}
.formu .div-formu form input{
  width: 50%;
  height: 50px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: var(--cinza);
  border: 2px solid var(--verde3);
  padding: 2%;
  font-size: 1rem;
  
}
.formu .div-formu form select{
  width: 50%;
  height: 30px;
  text-align: center;
  border-radius: 8px;
  background-color: var(--cinza);
  border: 2px solid var(--verde3);
  font-size: 1rem;
}
.formu .div-formu form select option{
  background-color: var(--cinza);
}
.formu .div-formu form select:focus{
  box-shadow: 0 0 0 0;
  outline: none;
}
.formu .div-formu form input:focus{
  box-shadow: 0 0 0 0;
  outline: none;
}
.formu .div-formu form input::placeholder{
  font-size: 1rem;
  text-align: center;
}
.formu .div-formu form .btn-form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.formu .div-formu form .btn-form button{
  width: 200px;
  height: 50px;
  background-color: var(--verde3);
  color: white;
  border-radius: 16px;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: center;
  margin-top: 20px;
  cursor:pointer;
  transition: 0.5s;
}
.formu .div-formu form .btn-form button:hover{
  background-color: var(--verde2);
}






/**---------------------------------------- FIM PÁGINA FORMULÁRIO ----------------------------------------**/

/**---------------------------------------- NAVBAR AUTH ----------------------------------------**/

/**---------------------------------------- MENU DE NAVEGACAO ----------------------------------------**/

.menu-auth{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--verde3);

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.navbar .logo-box{
    width: 10%;
    margin-left: 20px;
}
.menu-auth{
    margin-right: 20px;
}
.menu-auth .lists-auth{
    float: right;
    list-style: none;
    position: relative;
}
.menu-auth .lists-auth li{
    display: inline-block;
    background-color: var(--verde3);
    margin: 0 5px;
}
.menu-auth .lists-auth li .menu-principal{
    text-decoration: none;
    line-height: 70px;
    margin: 0px 10px;
    padding:8px;
    color: white;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 1rem;
}
.menu-auth .lists-auth li .menu-principal:hover{
    background-color: var(--verde2);
}
.menu-auth .lists-auth ul{
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s;
}
.menu-auth .lists-auth li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.menu-auth .lists-auth ul .menu-secundario{
    position: relative;
    margin: 0px;
    width: 200px;
    height: 40px;
    float: none;
    display: list-item;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.menu-auth .lists-auth ul .menu-secundario:hover{
    background-color: var(--verde2);
    border-radius: none;
}
.menu-auth .lists-auth ul .menu-secundario a{
    color: white;
    display: flex;
    justify-content: center;
}
.checkbtn > .fa-bars{
    display: none;
}
/**---------------------------------------- FIM MENU DE NAVEGACAO ----------------------------------------**/

/**---------------------------------------- MEDIA QUERYS ----------------------------------------**/

/**---------------------------------------- MEDIA QUERY ----------------------------------------**/
@media only screen and (max-width:992px){
  .checkbtn > .fa-bars{
      display: block;
      position:absolute;
      right: 30px;
      top: 20px;
      font-size: 25px;
      color: black;
      transition: 0.5s;
      cursor: pointer;
  }
  .checkbtn > .fa-bars:hover{
      color:white;
  }
  .menu .logo-box{
      margin-left: 30px;
  }
  .menu .list-container{
      position: absolute;
      top:75px;
      left: -100%;
      background: var(--verde3);
      width: 100%;
      height: calc(100vh - 60px);
  }
  .menu .list-container .lists{
      width: 100%;
      height: 100vh;
      display: flex;
      color: white;
      align-items: center;
      flex-direction: column;
      margin-top: 50px;
  }
  .menu .list-container ul li{
      width: 90%;
      margin-top: 60px;
      border-bottom: 2px solid white;
      display: flex;
      justify-content: center;
  }
  .menu .list-container ul li a{
      font-size: 2rem;
      text-align: center;
      padding:12px 0px;
  }
  .menu .list-container ul li a.active{
      background: none;
      color: black;
  }
  .menu .list-container ul li a:hover{
      background: none;
      color: black;
  }
  .menu .list-container-auth{
    position: absolute;
    top:75px;
    left: -100%;
    background: var(--verde3);
    width: 100%;
    height: calc(100vh - 60px);
  }
.menu-auth .logo-box{
    margin-left: 30px;
}
.menu-auth .list-container-auth{
    position: absolute;
    top:75px;
    left: -100%;
    background: var(--verde3);
    width: 100%;
    height: calc(100vh - 60px);
}
.menu-auth .lists-auth{
    width: 100%;
    height: 80%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-auth .lists-auth li{
    width: 90%;
    margin-top: 50px;
    background: var(--verde3);
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    z-index: 5;
}
.menu-auth .lists-auth li .menu-principal{
  font-size: 2.5rem;
}
.menu-auth .lists-auth .submenu{
    z-index: 0;
    height: 500px;
    width: 450px;
}
.menu-auth .lists-auth ul .menu-secundario{
    height: 60px;
    width: 300px;
}
.menu-auth .lists-auth ul .menu-secundario a{
  font-size: 1.5rem;
}
.menu-auth .lists-auth li a{
    font-size: 1rem;
}
.menu-auth .lists-auth ul{
    height: 10%;
    display: flex;
}
.menu-auth .lists-auth ul li{
    border-right: 1px solid white;
    width: 500px;
}
.menu-auth .lists-auth li:hover > ul{
    top: 0px;
    opacity: 1;
    visibility: visible;
}


  /**---------------------------------------- CHAMATIVO QUERY--------------------------------------------**/

  .img-header{
    height: 70vh;
  }
  
  .img-header .welcome h1{
    font-size: 2rem;
    color: white;
    font-weight: 180;
    text-align: center;
  }
  .img-header .welcome p{
    font-size: 1rem;
    color: white;
    margin-top: 20px;
  }



  /**----------------------------------------MEDIA QUERY SOBRENOS--------------------------------------------**/
  
  .sobrenos .info-sobrenos h1{
    font-size: 18px;
  }
  .sobrenos .info-sobrenos p{
    font-size: 12px;
    line-height: 30px;
  
  }




  /**----------------------------------------MEDIA QUERY PRODUTOS--------------------------------------------**/

  .nossos-produtos .div-produtos{
    width: 100%;
  }
  .nossos-produtos .div-produtos .box-produtos{
    width: 80%;
  }
  .nossos-produtos .div-produtos .box-produtos .img-produtos img{
    width: 50%;
    height: 250px;
  }
  .nossos-produtos .div-produtos .box-produtos .texto-produtos h4{
    font-size: 2.5rem;
  }
  .nossos-produtos .div-produtos .box-produtos .texto-produtos p{
    font-size: 2rem;
  }

  /**----------------------------------------MEDIA QUERY FORM--------------------------------------------**/
  .formu .div-formu{
  width: 80%;
  border-radius: 16px;
  border: 2px solid var(--verde3)
  }


  /**----------------------------------------MEDIA QUERY FOOTER--------------------------------------------**/

  .footer{
    height: 4vh;
  }

  .footer .text-footer{
    font-size: 0.8rem;
    text-align: center;
  }




}
@media only screen and (max-width: 648px){


/**---------------------------------------- CHAMATIVO QUERY--------------------------------------------**/

.img-header{
  margin-top: 70px;
  background: url(../img/chamativo-md.jpg);
  height: 50vh;
}

}
