{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    {% block titulo %}
    <title>Inicial ::SuperMercado::</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  </head>
  <body>
    {% block menu %}
    {% if request.user.is_authenticated %}
    <header>
      <nav class="menu-auth">
        <div class="logo-box">
          <span class="checkbtn"><i class="fas fa-bars"></i></span>
     <!--Fim Hamburguer-->
          <label class="logo"><img class="img-logo" src="{% static 'img/logo_supermarketB.png' %}"></label>
        </div>
        <div class="list-container-auth">
            <ul class="lists-auth">
                <li><a href="{% url 'index' %}" class="menu-principal">Início</a></li>
                <li>
                    <a href="#" class="menu-principal">Cadastrar</a>
                    <ul class="submenu">
                        <li class="menu-secundario"><a href="{% url 'Cadastro Produto' %}">Cadastrar Produtos</a></li>
                        <li class="menu-secundario"><a href="{% url 'Cadastro Compra' %}">Cadastrar Compras</a></li>
                    </ul>
                 </li>
                <li>
                 <a href="#" class="menu-principal">Listar</a>
                 <ul class="submenu">
                     <li class="menu-secundario"><a href="{% url 'Listar Produto' %}">Listar Produtos</a></li>
                     <li class="menu-secundario"><a href="{% url 'Listar Compra' %}">Listar Compras</a></li>
                 </ul>
             </li>
                <li>
                 <a href="{% url 'Logout' %}" class="menu-principal">Logout</a>
             </li>
             <li><span class="menu-principal"> Olá, {{ request.user }} </span></li>
            </ul>
        </div>
       </nav>
    {% else %}
        <nav class="menu">
            <div class="logo-box">
              <span class="checkbtn"><i class="fas fa-bars"></i></span>
         <!--Fim Hamburguer-->
              <label class="logo"><img class="img-logo" src="{% static 'img/logo_supermarketB.png' %}" width="270"></label>
            </div>
            <div class="list-container">
               <ul class="lists">
                   <li><a href="{% url 'index' %}">Início</a></li>
                   <li><a href="#sobrenosancora">Sobre nós</a></li>
                   <li><a href="#produtosancora">Nossos Produtos</a></li>
                   <li><a href="{% url 'Login' %}">Login</a></li>
               </ul>
            </div>
           </nav>
      </header>
      {% endif %}
      {% endblock %}

        {% block conteudo %}

        {% endblock %}

      {% block rodape %}
        <footer class="footer">
          <div class="div-footer">
            <div class="text-footer">
              <p>:: SuperMercado Batista :: | Desenvolvido por João Vitor em 2021. Site criado a fins educacionais, os direitos das imagens foram reservados. </p>
            </div>
          </div>
       </footer>
       {% endblock %}
         <!--Scripts-->
  <script src="https://kit.fontawesome.com/a7a516d8b4.js" crossorigin="anonymous"></script>
  {% if request.user.is_authenticated %}
  <script src="{% static 'js/app2.js' %}"></script>
  {% else %}
  <script src="{% static 'js/app.js' %}"></script>
  {% endif %}
  </body>
</html>