{% extends 'paginas/base.html' %}

{% load static %}


{% block conteudo %}
          <div class="img-header">
            <div class="welcome">
              <h1>O melhor mercado para toda a família!</h1>
              <hr>
              <p>Não perca tempo e venha comprar com a gente!</p>
              <button class="btn-chamativo">Saiba mais</button>
            </div>
          </div>
    <section class="sobrenos" id="sobrenosancora">
      <div class="info-sobrenos">
        <h1><a></a>Mantemos o padrão de excelência em todas as unidades</h1>
        <p>Alta qualidade de produtos, tudo isso a um preço acessível ao cliente! Faça parte do nosso programa de fidelidade: ao realizar o cadastro no site você poderá fazer compras online e terá acesso a preços exclusivos. Não perca tempo, cadastre-se e compre conosco!</p>
        <div class="img-sobrenos">
          <img src="{% static 'img/img-5.jpg' %}" alt="img1">
          <img src="{% static 'img/img-9.jpg' %}" alt="img2">
          <img src="{% static 'img/img-11.jpg' %}" alt="img3">
        </div>
        <div><button class="btn-sobrenos">Cadastre-se</button></div>
      </div>
    </section>
    <section class="nossos-produtos">
      <div class="titulo-produtos" id="produtosancora">
        <h2>Novos produtos</h2>
        <hr>
      </div>
      <div class="div-produtos">
        <div class="box-produtos">
          <div class="img-produtos"><img src="{% static 'img/produto1.jpg' %}"></div>
          <div class="texto-produtos">
            <h4>Alcatra</h4>
            <p>1KG -- R$ 45,00</p>
            <div class="div-btn-prod"><button class="btn-novosprodutos">Compre já</button></div>
          </div>
        </div>
        <div class="box-produtos">
          <div class="img-produtos"><img src="{% static 'img/produto2.jpg' %}"></div>
          <div class="texto-produtos">
            <h4>Lasanha sadia</h4>
            <p>600G -- R$ 12,79</p>
            <div class="div-btn-prod"><button class="btn-novosprodutos">Compre já</button></div>
          </div>
        </div>
        <div class="box-produtos">
          <div class="img-produtos"><img src="{% static 'img/produto3.png' %}"></div>
          <div class="texto-produtos">
            <h4>Banana</h4>
            <p>Cacho -- R$ 2,50</p>
            <div class="div-btn-prod"><button class="btn-novosprodutos">Compre já</button></div>
          </div>
        </div>
        <div class="box-produtos">
          <div class="img-produtos"><img src="{% static 'img/produto4.png' %}"></div>
          <div class="texto-produtos">
            <h4>Iogurte Nestle morango</h4>
            <p>900G -- R$ 11,00</p>
            <div class="div-btn-prod"><button class="btn-novosprodutos">Compre já</button></div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}