{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>AdminNavbar ::SuperMarket::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Styles-->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  </head>
  <body>
    <!--Aba de menu-->
      <header>
          {% block navbar-user %}
        <!--Hamburguer-->
          <nav class="menu-auth">
            <div class="logo-box">
              <span class="checkbtn"><i class="fas fa-bars"></i></span>
         <!--Fim Hamburguer-->
              <label class="logo"><img class="img-logo" src="img/logo_supermarket.png" width="270"></label>
            </div>
            <div class="list-container-auth">
                <ul class="lists-auth">
                    <li><a href="#" class="menu-principal">Inicio</a></li>
                    <li>
                        <a href="#" class="menu-principal">Cadastrar</a>
                        <ul class="submenu">
                            <li class="menu-secundario"><a>Cadastrar Categorias</a></li>
                            <li class="menu-secundario"><a>Cadastrar Produtos</a></li>
                            <li class="menu-secundario"><a>Cadastrar Funcionários</a></li>
                        </ul>
                     </li>
                    <li>
                     <a href="#" class="menu-principal">Listar</a>
                     <ul class="submenu">
                         <li class="menu-secundario"><a>Listar Produtos</a></li>
                         <li class="menu-secundario"><a>Listar Disciplinas</a></li>
                     </ul>
                 </li>
                    <li>
                     <a href="#" class="menu-principal">Sua conta</a>
                     <ul class="submenu">
                         <li class="menu-secundario"><a>Meu Perfil</a></li>
                         <li class="menu-secundario"><a>Logout</a></li>
                     </ul>
                 </li>
                    <li><a href="#" class="menu-principal">Dashboard</a></li>
                </ul>
            </div>
           </nav>
           {% endblock %}
      </header>
         <!--Scripts-->
         <script src="https://kit.fontawesome.com/a7a516d8b4.js" crossorigin="anonymous"></script>
         <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>