{% extends 'paginas/base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block titulo %}
<title>Login ::SuperMercado::</title>
{% endblock %}

{% block conteudo %}
<div class="formu">
    <div class="titulo-formu">
        <h1>Login</h1>
        <hr>
    </div>
    <div class="div-formu">
        <form action="" method="POST">
            {% csrf_token %}

            {{ form }}
            <div class="btn-form"><button type="submit">Enviar</button></div>
        </form> 
    </div>   
</div>

{% endblock %}